*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.sidebar{
    background-color: rgba(0, 0, 0, 0.6);
    width: auto;
    padding: 0 0 10px 10px;
    margin-top: 90px;
    -webkit-backdrop-filter: blur(6px);
    border-radius: 0 7px 7px 0;
    display: none;
}
header ul li a{
    color: aliceblue;
}
.contar{
    display: flex;
    padding: 100px 100px 0 100px ;
}
.topBar{
    display: flex;
    justify-content: center;
    position: fixed;
    width: 100%;
    height: 65px;
    padding: 10px;
    background-color: rgba(0, 0, 0, 0.6);
    -webkit-backdrop-filter: blur(6px);
}
.topBar a{
    padding-top: 12px;
}
.searchIcon{
    display: flex;
    justify-content: flex-start;
    padding: 20px;
    position: fixed;
   
}
.closeIcon{
    display: none;
    justify-content: flex-start;
    padding: 20.5px 20px 20px 20px ;
    position: fixed;
}
.searchInput{
    display: none;
    position: fixed;
    width: 300px;
    height: 50%;
    border-radius: 10px;
    padding: 20px;
    margin: 65px 0 0 0;
    background-color: rgba(229, 54, 54, 0.6);
    -webkit-backdrop-filter: blur(4px);
}
.searchInput input{
    width: 100%;
    height: 30px;
    font-size: 18px;
}

.topBar a img{
    width: 80px;
}
.sec1{
    width: 100%;
    padding: 10px;
    margin-top: 65px;
    position: fixed;
    background-color:  rgba(51, 72, 73, 0.6);
    -webkit-backdrop-filter: blur(8px);
}
.sec1 ul{
    display: flex;
    justify-content: center;
}
.sec1 ul li{
    justify-content: space-evenly;
    list-style: none;
    margin: 3px 10px 3px 10px;
    padding-left: 10px;
}
.sec1 ul li a{
    font-size: 15px;
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(255, 255, 255);
    text-decoration: none;
    padding: 13px 18px 13px 18px;
}
.sec1 ul li a:hover{
    text-decoration: none;
    background-color:  rgba(51, 72, 73, 0.6);
}
ul input{
    margin-top: 20px;
}
img{
    width: 100%;
}
h1{
    font-size: 30px;
}
.sec2{
    display: flex;
    flex-direction: row-reverse;
    width: 100%;
    padding: 30px 0 30px 30px;
}
.sec2Para{
    width: 100%;
}
.art-top{
    width: 100%;
    padding: 0 20px 0 20px;
}
.art-top h1{
    font-size: 30px;
    padding-top: 10px;
}
.art-mid{
    display: flex;
    width: 50%;
    flex-direction: column;
}
.art-mid h2{
    font-size: 20px;
}
.art-mid img{
    width: 100%;
}
.art-mid-btm{
   width: 100%;
}
.art-mid-btm p{
    font-size: 20px;
}
.latest{
    padding-top: 10px;
}
.sec3{
    display: flex;
    flex-direction: column;
    padding-right: 10px;
    width: 30%;
}
.sec3 a{
    text-decoration: none;
    color: black;
    font-size: 20px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.sec3 h3{

}
.art-right-top{
    padding-bottom: 30px;
    padding-top: 30px;
}
.art-right-mid{
    padding-bottom: 30px;
}
.art-right-btm{
    padding-bottom: 30px;
}
.art-right-btm2{
    padding-bottom: 30px;
}

footer section ul{
    display: flex;
}


@media(max-width: 800px){
    .hideOnMobile{
        display: none;
        flex: none;
    }
    .contar{
        display: flex;
        flex-direction: column;
    }
    .sec2{
        padding: 30px;
    }
    .art-mid{
        display: flex;
        flex-direction: column;
    }
    .sec3{
        width: 100%;
    }
    header{
        position: absolute;
    }
    header ul li{
        list-style: none;
    }
    header ul li a{
        text-decoration: none;
        font-size: 20px;

    }
    .logoImg{
        width: 100%;
    }
    .logoImg a{
        display: flex;
        justify-content: center;
    }

}
@media(min-width: 800px){
    header{
        display: none;
    }
    .hideOnWeb{
        display: none;
    }
}

@media(max-width: 450px){
    .contar{
        padding: 110px 0 0 0;
        display: flex;
        flex-direction: column;
    }
    .sec2{
        display: flex;
        flex-direction: column;
        padding: 0;
    }
    .art-mid{
        width: 100%;
    }
    .art-top{
        padding: 0;
    }
    .searchInput{
        width: 200px;
    }
}