*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
header{
    background-color: rgba(51, 72, 73, 0.6);
    width: 150px;
    padding: 0 0 10px 10px;
    -webkit-backdrop-filter: blur(6px);
    border-radius: 0 7px 7px 0;
}
header ul li a{
    color: aliceblue;
}
.contar{
    display: flex;
}
.sec1{
    width: 40%;
}
.logoImg{
    display: flex;
    justify-content: center;
}
.logoImg a img{
    width: 80px;
}
.sec1 ul{
    flex-direction: column;
    justify-content: space-evenly;
}
ul li{
    padding-top: 25px;
    padding-left: 10px;
}
.sec1 ul li a{
    list-style: none;
    text-decoration: none;
    justify-content: space-evenly;
    font-size: 20px;
    color: rgb(0, 0, 0);
}
ul input{
    margin-top: 20px;
}
img{
    width: 100%;
}
h1{
    font-size: 30px;
}
.sec2{
    flex-shrink: 1.5;
    padding: 30px;
}

.sec2Para{
    width: 100%;
}
.art-mid{
    display: flex;
    flex-direction: column;
}

.art-mid img{
    width: 90%;
    padding-left: 50px;
}
.art-mid-btm{
    padding: 5px 0 0 5px
    width: 100%;
}
.art-mid-btm p{
    font-size: 20px;
}
.latest{
    padding-top: 10px;
}
.sec3{
    display: flex;
    flex-direction: column;
    padding-right: 10px;
    width: 40%;
}
.sec3 a{
    text-decoration: none;
    color: black;
    font-size: 25px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.art-right-top{
    padding-bottom: 30px;
    padding-top: 30px;
}
.art-right-mid{
    padding-bottom: 30px;
}
.art-right-btm{
    padding-bottom: 30px;
}
.art-right-btm2{
    padding-bottom: 30px;
}


@media(max-width: 800px){
    .hideOnMobile{
        display: none;
        flex: none;
    }
    .contar{
        display: flex;
        flex-direction: column;
    }
    .art-mid{
        display: flex;
        flex-direction: column;
    }
    .sec3{
        width: 100%;
    }
    header{
        position: absolute;
    }
    .logoImg{
        width: 100%;
    }
    .logoImg a{
        display: flex;
        justify-content: center;
    }

}
@media(min-width: 800px){
    header{
        display: none;
    }
}