*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.contar{
    display: flex;
}
.sec1{
    width: 30%;
}
.sec1 a img{
    width: 60%;
    padding-left: 10px;
}
ul{
    flex-direction: column;
    justify-content: space-evenly;
}
ul li{
    padding-top: 25px;
    padding-left: 10px;
}
ul li a{
    list-style: none;
    text-decoration: none;
    justify-content: space-evenly;
    font-size: 20px;
    color: black;
}
ul input{
    margin-top: 20px;
}
img{
    width: 100%;
}
h1{
    font-size: 30px;
}
.sec2{
    flex-shrink: 1.5;
    padding: 30px;
}
.art-mid{
    display: flex;
}
.art-mid img{
    width: 90%;
}
.art-mid-btm{
    padding-left: 5px;
    width: 85%;
}
.art-mid-btm p{
    font-size: 20px;
}
.latest{
    padding-top: 10px;
}
.sec3{
    display: flex;
    flex-direction: column;
    padding-right: 10px;
}
.sec3 a{
    text-decoration: none;
    color: black;
    font-size: 25px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.art-right-top{
    padding-bottom: 30px;
    padding-top: 30px;
}
.art-right-mid{
    padding-bottom: 30px;
}
.art-right-btm{
    padding-bottom: 30px;
}
.art-right-btm2{
    padding-bottom: 30px;
}
